* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
    background: #eeeeee;
    width: 17rem;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 0.3rem;
    text-align: center;
    transition: all 0.3s linear;
}

.person:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.person img {
    border-radius: 50%;
    border: 0.1rem solid teal;
}

.person h4 {
    text-transform: capitalize;
    margin: 0.5rem 0;
    letter-spacing: 0.15rem;
    color: teal;
}

@media screen and (min-width: 768px) {
    .person-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .person-list {
        grid-template-columns: repeat(3, 1fr);
    }
}